body {
    background:url(https://i.ytimg.com/vi/jcDZ7TdKvLg/maxresdefault.jpg);
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
      background-size: 100% 110%;
      color :white;
}
h1 { color:white}
img{
    width:260px;
    height:260px;
   }


